#gwtoolset-form {
	position: relative;
}

#gwtoolset-loader {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #fff;
	background-color: rgba( 255, 255, 255, .8 );
	display: none;
}

#gwtoolset-loader p {
	position: absolute;
	top: 50%;
	width: 100%;
	margin-top: -64px;
	text-align: center;
}